<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/804102c5e3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div id="page">
    <div id="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/admin}">
                    <img th:src="@{/img/logo.png}" alt="logo" class="d-inline-block align-top" width="auto"
                         height="40">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin}">Admin-home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/logout}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="banner">
        <div class="p-5 text-center" style="background-color: #a6abb3">
            <h1 class="display-4">Welcome back, Admin</h1>
            <p>Easily manage your data from this admin CMS
            </p>
        </div>
    </div>
    <div id="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 pt-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Categories</h4>
                            <p class="card-text">Manage the categories section here.</p>
                            <a href="#" th:href="@{/admin/categories}" class="card-link btn btn-primary">Manage</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 pt-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Products</h4>
                            <p class="card-text">Manage all the products here.</p>
                            <a href="#" th:href="@{/admin/products}" class="card-link btn btn-primary">Manage</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 pt-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Sizes</h4>
                            <p class="card-text">Manage all the sizes here.</p>
                            <a href="#" th:href="@{/admin/sizes}" class="card-link btn btn-primary">Manage</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 pt-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Order</h4>
                            <p class="card-text">Manage all the order here.</p>
                            <a href="#" th:href="@{/admin/orders}" class="card-link btn btn-primary">Manage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="space-footer"></div>
    <div id="footer">
        <div class="bg-dark text-light text-center p-3 fixed-bottom">
            <p>©2021 Copyright by Tanhdev98</p>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
        integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
</body>
</html>