<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/804102c5e3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <style>
        input, select, textarea {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div id="page">
    <div id="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/admin}">
                    <img th:src="@{/img/logo.png}" alt="logo" class="d-inline-block align-top" width="auto" height="40">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin}">Admin-home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/logout}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <h3 class="text-center p-3">Add attribute to product</h3>
        <form th:action="@{/admin/products/attribute/add/{id}(id = ${products.id})}" method="post"
              th:object="${attributeDTO}"
              enctype="multipart/form-data">
            <div class="row">
                <div class="form-group">
                    <label class="form-label" for="quantity">Quantity <small style="color: red">*</small></label>
                    <input type="number" class="form-control" th:field="*{quantity}" name="quantity"
                           id="quantity" required min="0">
                </div>
                <label class="form-label" for="size">Size <small style="color: red">*</small></label>
                <div class="form-check">
                    <div id="size">
                        <div th:each="attributeList, iStat :${attributes}"
                             class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="attribute-size" id="attribute-size"
                                   th:value="${attributeList.id}" th:field="*{id}">
                            <label th:text="${attributeList.size}" class="form-check-label"
                                   for="size"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-1 mx-auto">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <!--    footer-->
    <div class="space-footer"></div>
    <footer class="footer">
        <div class="bg-dark text-light text-center p-3 fixed-bottom">
            <p>©2021 Copyright by Tanhdev98</p>
        </div>
    </footer>
</div>
</footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
        integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var render = new FileReader();
            render.onload = function (e) {
                $("#imgPreview").attr("src", e.target.result);
            }
            render.readAsDataURL(input.files[0]);
        }
    }

    $("#productImage").change(function () {
        readURL(this);
    });
</script>
</body>
</html>