<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/804102c5e3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script>
        let total = document.getElementById('subtotal').val;
    </script>
</head>
<body>
<!--    top nav-->
<div id="top-nav">
    <div class="container">
        <div class="border-bottom border-dark py-2 small">
            <div class="row my-1">
                <div class="col-md-3 text-end my-auto">
                    <form th:action="@{/view-all-products/page/1}">
                        <div class="input-group">
                            <input th:value="${keyword}" name="keyword" type="text"
                                   class="border border-dark form-control input-group-sm"
                                   placeholder="Search"
                                   aria-label="search" aria-describedby="button-search" required>
                            <button class="btn btn-outline-dark" type="submit" id="button-search">
                                <span class="fa fa-search"></span>
                            </button>
                            <a class="btn btn-outline-dark" th:href="@{/view-all-products/page/1}" id="button-list">
                                <span class="fa fa-list"></span>
                            </a>
                        </div>
                    </form>
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-2 text-end my-auto">
                        <span class="text-dark h5 fw-normal px-3"
                              sec:authorize="isAuthenticated()">[[${#request.remoteUser}]]
                        </span>
                </div>
                <div class="col-md-2 text-end">
                    <a class="btn btn-dark px-3" sec:authorize="isAnonymous()" th:href="@{/login}">LOGIN</a>
                    <a class="btn btn-dark px-3" sec:authorize="isAuthenticated()"
                       th:href="@{/logout}">LOGOUT</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--header-->
<div id="header">
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-3"></div>
                <div class="col-6 text-center">
                    <a class="blog-header-logo" th:href="@{/}">
                        <img class="img-fluid" th:src="@{/img/logo.PNG}" alt="logo">
                    </a>
                </div>
                <div class="col-3"></div>
            </div>
        </header>
        <!--navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
                    <ul class="navbar-nav fw-bold" style="margin: 0 auto">
                        <li class="nav-item px-5">
                            <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                        </li>
                        <!--category-->
                        <li class="nav-item dropdown px-5">
                            <a th:href="@{/category}" class="nav-link dropdown-toggle" href="#"
                               id="categoryDropdownMenu" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Category
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="categoryDropdownMenu">
                                <a th:each="category, iStat : ${categories}" class="text-decoration-none"
                                   th:href="@{/category/{id}(id=${category.id})}">
                                    <li class="dropdown-item" th:text="${category.name}"></li>
                                </a>
                            </ul>
                        </li>
                        <li class="nav-item px-5">
                            <a class="nav-link" th:href="@{/about}">About</a>
                        </li>
                        <li class="nav-item px-5">
                            <a class="nav-link" th:href="@{/contact}">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<!--main-->
<div id="view-cart">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 fs-2 p-5">
                <h2 class="fw-bold">Your cart (<span th:text="${cartCount}"></span> items)</h2>
            </div>
        </div>
        <div class="row">
            <a class="text-decoration-none text-dark h4" th:href="@{/}" th:if="${cartCount == 0}">No products. Please
                return to the store to continue
                shopping.</a>
            <div th:unless="${cartCount == 0}" id="order-cart">
                <table class="table border border-dark mx-auto">
                    <thead class="border border-dark">
                    <tr>
                        <th scope="col">Product image</th>
                        <th scope="col">Product name</th>
                        <th scope="col">Unit price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="border border-dark" th:each="item, iStat: ${cart}">
                        <td>
                            <img height="200px" width="300px"
                                 th:src="@{${'/upload/' + item.imageName}}" th:alt="${item.name}">
                        </td>
                        <td th:text="${item.name}"></td>
                        <td id="price" th:text="${item.price}+'$'"></td>
                        <td id="quantity" th:text="${item.quantity}"></td>
                        <td id="subtotal" th:text="${item.price * item.quantity}+'$'"></td>
                        <td><a th:href="@{/cart/remove-item/{index}(index=${iStat.index})}"
                               class="text-dark fas fa-trash"></a></td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-end h4 my-4">
                    <td th:text="'TOTAL AMOUNT: '+${total}+'$'"></td>
                </div>
                <form class="form-control text-start" action="">
                    <div class="mb-3">
                        <label class="label-control" for="address">Address</label>
                        <input class="item-control" type="text" id="address">
                        <div id="addressHelp" class="form-text">Please enter your shipping address</div>
                    </div>
                    <div class="mb-3">
                        <label class="label-control" for="address">Phone number</label>
                        <input class="item-control" type="text">
                    </div>
                </form>
                <div class="py-2 my-4">
                    <button type="submit" class="btn btn-danger">Check out</button>
                    <a class="btn btn-primary py-2 my-4" th:href="@{/}">Continue to shop </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<div class="space-footer"></div>
<div id="footer">
    <div class="bg-dark text-light text-center p-3 fixed-bottom">
        <p>©2021 Copyright by Tanhdev98</p>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
        integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
</body>
</html>