<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Havana Online</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/804102c5e3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div id="page">
    <!--    top nav-->
    <div id="top-nav">
        <div class="container">
            <div class="border-bottom border-dark py-2 small">
                <div class="row my-1">
                    <div class="col-md-3 text-end my-auto">
                        <form th:action="@{/view-all-products/page/1}">
                            <div class="input-group">
                                <input th:value="${keyword}" name="keyword" type="text"
                                       class="border border-dark form-control input-group-sm"
                                       placeholder="Search"
                                       aria-label="search" aria-describedby="button-search" required>
                                <button class="btn btn-outline-dark" type="submit" id="button-search">
                                    <span class="fa fa-search"></span>
                                </button>
                                <a class="btn btn-outline-dark" th:href="@{/view-all-products/page/1}" id="button-list">
                                    <span class="fa fa-list"></span>
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5"></div>
                    <div class="col-md-2 text-end my-auto">
                        <span class="text-dark h5 fw-normal px-3"
                              sec:authorize="isAuthenticated()">[[${#request.remoteUser}]]
                        </span>
                    </div>
                    <div class="col-md-2 text-end">
                        <a class="btn btn-dark px-3" sec:authorize="isAnonymous()" th:href="@{/login}">LOGIN</a>
                        <a class="btn btn-dark px-3" sec:authorize="isAuthenticated()"
                           th:href="@{/logout}">LOGOUT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    header-->
    <div id="header">
        <div class="container">
            <header class="blog-header py-3">
                <div class="row flex-nowrap justify-content-between align-items-center">
                    <div class="col-3"></div>
                    <div class="col-6 text-center">
                        <a class="blog-header-logo" th:href="@{/}">
                            <img class="img-fluid" th:src="@{/img/logo.PNG}" alt="logo">
                        </a>
                    </div>
                    <div class="col-3 text-end">
                        <a class="text-dark text-decoration-none" th:href="@{/cart}">
                            <span class="fas fa-shopping-cart"></span>
                            <span>Cart</span>
                            <span th:text="${cartCount}">0</span>
                        </a>
                    </div>
                </div>
            </header>
            <!--navbar-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
                        <ul class="navbar-nav fw-bold" style="margin: 0 auto">
                            <li class="nav-item px-5">
                                <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                            </li>
                            <!--category-->
                            <li class="nav-item dropdown px-5">
                                <a th:href="@{/category}" class="nav-link dropdown-toggle" href="#"
                                   id="categoryDropdownMenu" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Category
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="categoryDropdownMenu">
                                    <a th:each="category, iStat : ${categories}" class="text-decoration-none"
                                       th:href="@{/category/{id}(id=${category.id})}">
                                        <li class="dropdown-item" th:text="${category.name}"></li>
                                    </a>
                                </ul>
                            </li>
                            <li class="nav-item px-5">
                                <a class="nav-link" th:href="@{/about}">About</a>
                            </li>
                            <li class="nav-item px-5">
                                <a class="nav-link" th:href="@{/contact}">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- slider -->
    <div id="slider">
        <div class="container">
            <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="img/banner1.png" class="d-block w-100" alt="banner1">
                    </div>
                    <div class="carousel-item">
                        <img src="img/banner2.png" class="d-block w-100" alt="banner2">
                    </div>
                    <div class="carousel-item">
                        <img src="img/banner3.png" class="d-block w-100" alt="banner3">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <!-- product -->
    <div id="new-product">
        <div class="container text-center">
            <hr>
            <div class="row">
                <div class="col-12 fs-2 p-5">
                    <h2 class="fw-bold">New Product</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3" th:each="productNew: ${productsNew}">
                    <a class="text-decoration-none text-dark">
                        <img class="" height="200px" width="300px"
                             th:src="@{${'/upload/' + productNew.imageName}}" th:alt="${productNew.name}">
                        <p class="mb-1 mt-2" th:text="${productNew.name}"></p>
                        <h6 class="mt-0 mb-3"><span th:text="${productNew.price}"></span>$</h6>
                        <a th:href="@{/view-product/{id}(id=${productNew.id})}"
                           class="btn btn-outline-dark mb-3">Detail</a>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center p-3">
                    <a class="btn btn-dark px-5" th:href="@{/view-all-products}">More</a>
                </div>
            </div>
        </div>
    </div>

    <div id="hot-product">
        <div class="container text-center">
            <hr>
            <div class="row">
                <div class="col-12 fs-2 p-5">
                    <h2 class="fw-bold">Hot Product</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3" th:each="productHot: ${productsHot}">
                    <a class="text-decoration-none text-dark">
                        <img class="" height="200px" width="300px"
                             th:src="@{${'/upload/' + productHot.imageName}}" th:alt="${productHot.name}">
                        <p class="mb-1 mt-2" th:text="${productHot.name}"></p>
                        <h6 class="mt-0 mb-3"><span th:text="${productHot.price}"></span>$</h6>
                        <a th:href="@{/view-product/{id}(id=${productHot.id})}"
                           class="btn btn-outline-dark mb-3">Detail</a>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center p-3">
                    <a class="btn btn-dark px-5" th:href="@{/view-all-products}">More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- about -->
    <div id="about">
        <div class="container">
            <hr>
            <div class="text-center">
                <h3>About us</h3>
                <p>
                    Havana Online will provide customers with exciting online fashion shopping experiences from
                    international and domestic fashion brands, committed to top quality service along with men's and
                    women's apparel
                    collections. from footwear, apparel, accessories to cosmetics for both women and men with the latest
                    fashion trends. You can find the outfit you want from comfortable home wear or be confident in the
                    right office outfit. The new experiences are only available from the online brand-name Havana Online
                    site.
                </p>
            </div>
        </div>
    </div>
    <div id="footer-widgets" class="bg-light">
        <div class="container">
            <hr>
            <div class="row p-5">
                <div class="col-12 col-lg-6 text-center">
                    <h3 class="pb-3">SIGN UP FOR NEWSLETTER</h3>
                    <div class="input-group">
                        <input type="text" class="form-control input-group-sm"
                               placeholder="Enter your email address"
                               aria-label="sign-up-for-newsletter" aria-describedby="sign-up-for-newsletter">
                        <button class="btn btn-dark" type="button" id="sign-up-for-newsletter">
                            <span class="fw-bold">Registration</span>
                        </button>
                    </div>
                </div>
                <div class="col-12 col-lg-6 text-center">
                    <h3 class="pb-3">SOCIAL NETWORK</h3>
                    <a class="text-dark text-decoration-none" href="https://www.facebook.com/havanaonline8888/">
                        <span class="fab fa-facebook fa-2x"></span>
                    </a>
                    <a class="text-dark text-decoration-none px-4" href="#instagram">
                        <span class="fab fa-instagram fa-2x"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--    footer-->
    <div id="footer">
        <div class="bg-dark text-light text-center p-3">
            <p>©2021 Copyright by Tanhdev98</p>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
        integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
</body>
</html>