<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/804102c5e3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<!--    top nav-->
<div id="top-nav">
    <div class="container">
        <div class="border-bottom border-dark py-2 small">
            <div class="row my-1">
                <div class="col-md-3 text-end my-auto">
                    <form th:action="@{/view-all-products/page/1}">
                        <div class="input-group">
                            <input th:value="${keyword}" name="keyword" type="text"
                                   class="border border-dark form-control input-group-sm"
                                   placeholder="Search"
                                   aria-label="search" aria-describedby="button-search" required>
                            <button class="btn btn-outline-dark" type="submit" id="button-search">
                                <span class="fa fa-search"></span>
                            </button>
                            <a class="btn btn-outline-dark" th:href="@{/view-all-products/page/1}" id="button-list">
                                <span class="fa fa-list"></span>
                            </a>
                        </div>
                    </form>
                </div>
                <div class="col-md-7"></div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>
<!--header-->
<div id="header">
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-3"></div>
                <div class="col-6 text-center">
                    <a class="blog-header-logo" th:href="@{/}">
                        <img class="img-fluid" th:src="@{img/logo.PNG}" alt="logo">
                    </a>
                </div>
                <div class="col-3"></div>
            </div>
        </header>
        <!--navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
                    <ul class="navbar-nav fw-bold" style="margin: 0 auto">
                        <li class="nav-item px-5">
                            <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                        </li>
                        <!--category-->
                        <li class="nav-item dropdown px-5">
                            <a th:href="@{/category}" class="nav-link dropdown-toggle" href="#"
                               id="categoryDropdownMenu" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Category
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="categoryDropdownMenu">
                                <a th:each="category, iStat : ${categories}" class="text-decoration-none"
                                   th:href="@{/category/{id}(id=${category.id})}">
                                    <li class="dropdown-item" th:text="${category.name}"></li>
                                </a>
                            </ul>
                        </li>
                        <li class="nav-item px-5">
                            <a class="nav-link" th:href="@{/about}">About</a>
                        </li>
                        <li class="nav-item px-5">
                            <a class="nav-link" th:href="@{/contact}">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<!--main-->
<div id="login-form">
    <div class="container">
        <hr>
        <h2 class="p-2 bg-dark text-light">LOGIN</h2>
        <hr>
    </div>
    <div class="text-center form-signin">
        <form th:action="@{/login}" method="post">
            <div class="form-floating">
                <input type="email" class="form-control" name="email" id="floatingEmail" placeholder="name@example.com">
                <label for="floatingEmail">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
<!--            <div th:if="${param.error}" class="alert alert-error text-danger">-->
<!--                Invalid username or password !-->
<!--            </div>-->
            <input class="w-100 btn btn-lg btn-outline-dark" type="submit" value="Login"/>
            <span>Don't have an account <a th:href="@{/register}">Register here</a></span>
            <a th:href="@{/forgot-password}">Forgot password ?</a>
        </form>
        <h4 class="">OR</h4>
        <a class="w-100 btn btn-outline-danger" href="/oauth2/authorization/google">
            <span class="fab fa-google-plus fa-lg"></span>
            <span class="text-center">Sign in with Google+</span>
        </a>
    </div>
</div>

<!--footer-->
<div class="space-footer"></div>
<div id="footer">
    <div class="bg-dark text-light text-center p-3 fixed-bottom">
        <p>©2021 Copyright by Tanhdev98</p>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
        integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
</body>
</html>