<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/804102c5e3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div id="page">
    <div id="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/admin}">
                    <img th:src="@{/img/logo.png}" alt="logo" class="d-inline-block align-top" width="auto" height="40">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin}">Admin-home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/logout}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 text-start">
                <a th:href="@{/admin/products/add}" style="margin: 20px 0" class="btn btn-primary">Add Product</a>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-3 text-end my-auto">
                <form th:action="@{/admin/products/page/1}">
                    <div class="input-group">
                        <input th:value="${keyword}" name="keyword" type="text"
                               class="border border-dark form-control input-group-sm"
                               placeholder="Search"
                               aria-label="search" aria-describedby="button-search" required>
                        <button class="btn btn-outline-dark" type="submit" id="button-search">
                            <span class="fa fa-search"></span>
                        </button>
                        <a class="btn btn-outline-dark" th:href="@{/admin/products/page/1}" id="button-list">
                            <span class="fa fa-list"></span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <table class="table border border-dark my-2">
            <thead class="table-secondary">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Product Name</th>
                <th scope="col">Category</th>
                <th scope="col">Price($)</th>
                <th scope="col">Preview</th>
                <th scope="col">Delete</th>
                <th scope="col">Update</th>
                <th scope="col">Detail</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="productDTO, iStat : ${products}">
                <th scope="row" th:text="${productDTO.id}"></th>
                <td th:text="${productDTO.name}"></td>
                <td th:text="${productDTO.category.name}"></td>
                <td th:text="${productDTO.price} + ' $'"></td>
                <td><img height="100px" width="100px"
                         th:src="@{${'/upload/' + productDTO.imageName}}"></td>
                <td><a th:href="@{/admin/products/delete/{id}(id=${productDTO.id})}"
                       class="btn btn-danger">Delete</a></td>
                <td><a th:href="@{/admin/products/update/{id}(id=${productDTO.id})}"
                       class="btn btn-warning">Update</a></td>
                <td><a th:href="@{/admin/products/detail/{id}(id=${productDTO.id})}"
                       class="btn btn-primary">Detail</a></td>
            </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <span class="page-link">Total Items: [[${totalItems}]] - Page [[${currentPage}]] of [[${totalPages}]]</span>
                </li>

                <li class="page-item" th:if="${currentPage > 1}">
                    <a class="page-link"
                       th:href="@{'/admin/products/page/1'+ ${keyword !=null ? '?keyword=' + keyword : ''}}">First</a>
                <li class="page-item disabled" th:unless="${currentPage > 1}"><span class="page-link">First</span></li>
                </li>

                <li class="page-item" th:if="${currentPage > 1}">
                    <a class="page-link"
                       th:href="@{'/admin/products/page/' + ${currentPage - 1} + ${keyword !=null ? '?keyword=' + keyword : ''}}">Previous</a>
                <li class="page-item disabled" th:unless="${currentPage > 1}"><span class="page-link">Previous</span>
                </li>
                </li>

                <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a class="page-link" th:if="${i != currentPage}"
                       th:href="@{'/admin/products/page/' + ${i} + ${keyword !=null ? '?keyword=' + keyword : ''}}">[[${i}]]</a>
                    <span class="page-link disabled" th:unless="${i !=currentPage}"
                          th:href="@{'/admin/products/page/' + ${i}}">[[${i}]]</span>
                </li>

                <li class="page-item" th:if="${currentPage < totalPages}">
                    <a class="page-link"
                       th:href="@{'/admin/products/page/' + ${currentPage + 1} + ${keyword !=null ? '?keyword=' + keyword : ''}}">Next</a>
                <li class="page-item disabled" th:unless="${currentPage < totalPages}"><span
                        class="page-link">Next</span></li>
                </li>

                <li class="page-item" th:if="${currentPage < totalPages}">
                    <a class="page-link"
                       th:href="@{'/admin/products/page/' + ${totalPages} + ${keyword !=null ? '?keyword=' + keyword : ''}}">Last</a>
                <li class="page-item disabled" th:unless="${currentPage < totalPages}"><span
                        class="page-link">Last</span></li>
                </li>
            </ul>
        </nav>
    </div>

    <!--    footer-->
    <div class="space-footer"></div>
    <div id="footer">
        <div class="bg-dark text-light text-center p-3 fixed-bottom">
            <p>©2021 Copyright by Tanhdev98</p>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
        integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
</body>
</html>