<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/804102c5e3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div id="page">
    <div id="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/admin}">
                    <img th:src="@{/img/logo.png}" alt="logo" class="d-inline-block align-top" width="auto" height="40">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/logout}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="card my-5 mx-auto border-dark" style="width: 500px">
            <img height="200px" class="card-img-top"
                 th:src="@{${'/upload/' + products.imageName}}"/>
            <div class="card-body">
                <h4 class="card-title text-center" th:text="${products.name}"></h4>
            </div>
            <ul class="list-group list-group-flush">

                <li class="list-group-item h6">Product id: <span class="fw-normal" th:text="${products.id}"></span>
                </li>
                <li class="list-group-item h6">Category: <span class="fw-normal"
                                                               th:text="${products.category.name}"></span></li>
                <li class="list-group-item h6">Tag: <span class="fw-normal" th:text="${products.tag}"></span></li>
                <li class="list-group-item">
                    <h6>Attribute</h6>
                    <table class="table-bordered table-sm text-center my-2">
                        <thead>
                        <tr>
                            <th class="h6">Size</th>
                            <th class="h6">Quantity</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="productAttributes, iStat :${productAttributesList}">
                            <td th:text="${productAttributes.attribute.size}"></td>
                            <td th:text="${productAttributes.quantity}"></td>
                            <td>
                                <a th:href="@{/admin/products/attribute/delete/{id}(id=${productAttributes.id})}">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
                <li class="list-group-item h6">Price: <span class="fw-normal"
                                                            th:text="${products.price} + ' $'"></span>
                </li>
                <li class="list-group-item h6">Description: <span class="fw-normal"
                                                                  th:text="${products.description}"></span></li>
            </ul>
            <div class="card-body text-center">
                <a th:href="@{/admin/products/attribute/add/{id}(id=${products.id})}" class="btn btn-primary">Add
                    attribute</a>
                <a th:href="@{/admin/products}" class="btn btn-dark">Back</a>
            </div>
        </div>
    </div>

    <!--    footer-->
    <div class="space-footer"></div>
    <div id="footer">
        <div class="bg-dark text-light text-center p-3 fixed-bottom">
            <p>©2021 Copyright by Tanhdev98</p>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
        integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
</body>
</html>