<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title th:text="${category.name}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/804102c5e3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div class="page">
    <!--    top nav-->
    <div id="top-nav">
        <div class="container">
            <div class="border-bottom border-dark py-2 small">
                <div class="row my-1">
                    <div class="col-md-3 text-end my-auto">
                        <form th:action="@{/view-all-products/page/1}">
                            <div class="input-group">
                                <input th:value="${keyword}" name="keyword" type="text"
                                       class="border border-dark form-control input-group-sm"
                                       placeholder="Search"
                                       aria-label="search" aria-describedby="button-search" required>
                                <button class="btn btn-outline-dark" type="submit" id="button-search">
                                    <span class="fa fa-search"></span>
                                </button>
                                <a class="btn btn-outline-dark" th:href="@{/view-all-products/page/1}" id="button-list">
                                    <span class="fa fa-list"></span>
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5"></div>
                    <div class="col-md-2 text-end my-auto">
                        <span class="text-dark h5 fw-normal px-3"
                              sec:authorize="isAuthenticated()">[[${#request.remoteUser}]]</span>
                    </div>
                    <div class="col-md-2 text-end">
                        <a class="btn btn-dark px-3" sec:authorize="isAnonymous()" th:href="@{/login}">LOGIN</a>
                        <a class="btn btn-dark px-3" sec:authorize="isAuthenticated()" th:href="@{/logout}">LOGOUT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    header-->
    <div id="header">
        <div class="container">
            <header class="blog-header py-3">
                <div class="row flex-nowrap justify-content-between align-items-center">
                    <div class="col-3"></div>
                    <div class="col-6 text-center">
                        <a class="blog-header-logo" th:href="@{/}">
                            <img class="img-fluid" th:src="@{/img/logo.PNG}" alt="logo">
                        </a>
                    </div>
                    <div class="col-3 text-end">
                        <a class="text-dark text-decoration-none" th:href="@{/cart}">
                            <span class="fas fa-shopping-cart"></span>
                            <span>Cart</span>
                            <span th:text="${cartCount}">0</span>
                        </a>
                    </div>
                </div>
            </header>
            <!--navbar-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
                        <ul class="navbar-nav fw-bold" style="margin: 0 auto">
                            <li class="nav-item px-5">
                                <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                            </li>
                            <!--category-->
                            <li class="nav-item dropdown px-5">
                                <a th:href="@{/category}" class="nav-link dropdown-toggle" href="#"
                                   id="categoryDropdownMenu" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Category
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="categoryDropdownMenu">
                                    <a th:each="category, iStat : ${categories}" class="text-decoration-none"
                                       th:href="@{/category/{id}(id=${category.id})}">
                                        <li class="dropdown-item" th:text="${category.name}"></li>
                                    </a>
                                </ul>
                            </li>
                            <li class="nav-item px-5">
                                <a class="nav-link" th:href="@{/about}">About</a>
                            </li>
                            <li class="nav-item px-5">
                                <a class="nav-link" th:href="@{/contact}">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!--    main-->
    <div id="view-product">
        <div class="container text-center">
            <div class="row">
                <div class="col-12 fs-2 p-5">
                    <h2 class="fw-bold text-center" th:text="${category.name}"></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3" th:each="product: ${products}">
                    <a class="text-decoration-none text-dark">
                        <img class="" height="200px" width="300px"
                             th:src="@{${'/upload/' + product.imageName}}" th:alt="${product.name}">
                        <p class="mb-1 mt-2" th:text="${product.name}"></p>
                        <h6 class="mt-0 mb-3"><span th:text="${product.price}"></span>$</h6>
                        <a th:href="@{/view-product/{id}(id=${product.id})}"
                           class="btn btn-outline-dark mb-3">Detail</a>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--    footer-->
    <div class="space-footer"></div>
    <div id="footer">
        <div class="bg-dark text-light text-center p-3 fixed-bottom">
            <p>©2021 Copyright by Tanhdev98</p>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
        integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
</body>
</html>